<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Embitel_Storelocator::storelocator" title="storelocator" translate="title" 
    module="Embitel_Storelocator" sortOrder="100" 
    action="storelocator/storelocator"
     resource="Embitel_Storelocator::storelocator"/>
    </menu>
</config>
